<app-section id="contact">
  <div class="row mb-4">
    <div class="col-lg-4 col-md-6">
      <h3 translate="contact.title"></h3>
      <p translate="contact.address"></p>
      <p translate="contact.email"></p>
      <p translate="contact.phone"></p>
      <p translate="contact.ico"></p>
    </div>
    <div class="col-lg-4 col-md-6">
      <h3 translate="contact.openingHours"></h3>
      <p translate="contact.monFri"></p>
      <p translate="contact.sat"></p>
      <p translate="contact.sun"></p>
    </div>
    <div class="col-lg-4 col-md-6">
      <app-map></app-map>
    </div>
  </div>
</app-section>
