<app-section id="services">
    <h2 translate="services.title" class="mb-4"></h2>
    <div class="row mb-4">
        <div class="col-lg-4 col-md-6">
            <app-service service="flowers" picture="flowers" delay="delay-1"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="bouquet" picture="bouquet" delay="delay-2"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="decorations" picture="decorations" delay="delay-3">
            </app-service>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <app-service service="items" picture="items" delay="delay-4"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="hygene" picture="hygene" delay="delay-5">
            </app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="orders" picture="order" delay="delay-6" [ref]="'contact'"></app-service>
        </div>
    </div>
</app-section>
