<app-section id="services">
    <h2 translate="services.title" class="mb-4"></h2>
    <div class="row mb-4">
        <div class="col-lg-4 col-md-6">
            <app-service service="flowers" icon="perm_identity" delay="delay-1"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="bouquet" icon="style" delay="delay-2"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="decorations" icon="mobile_friendly" delay="delay-3">
            </app-service>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <app-service service="items" icon="language" delay="delay-4"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="hygene" icon="insert_chart_outlined" delay="delay-5">
            </app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="orders" icon="apps" delay="delay-6" [ref]="'contact'"></app-service>
        </div>
    </div>
</app-section>
