<app-section id="services">
    <h2 translate="services.title" class="mb-4"></h2>
    <!-- <div class="row mb-4">
        <div class="col-lg-4 col-md-6">
            <app-service service="unique" icon="perm_identity" delay="delay-1"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="modern" icon="style" delay="delay-2"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="responsive" icon="mobile_friendly" delay="delay-3">
            </app-service>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <app-service service="language" icon="language" delay="delay-4"></app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="analytics" icon="insert_chart_outlined" delay="delay-5">
            </app-service>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-service service="more" icon="apps" delay="delay-6"></app-service>
        </div>
    </div> -->
</app-section>
