@import "../variables.scss";

#header .section {
  display: flex;
  position: relative;
  margin-top: -96px;
  padding-top: 0;
  width: 100%;
}

#header .container {
  width: 100vw;
  max-width: 100vw !important;
  padding: 0;
}

.carousel-item {
  & img {
    filter: brightness(0.5);
    max-height: 93vh;
  }
}

.carousel-caption {
  top: 35%;
  color: var(--primary);

  & p {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
  }

  .subtitle {
    font-size: 3rem;
    font-weight: normal;
  }
}

.image-item {
  & img {
    filter: brightness(0.5);
    max-height: 93vh;
  }
}

.image-caption {
  position: absolute;
  top: 25%;
  width: 100%;
  color: var(--primary);

  & p {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
  }

  .subtitle {
    font-size: 3rem;
    font-weight: normal;
  }
}

@media only screen and (max-width: $tablet-resolution) {
  .carousel-caption {
    top: 25%;
  }

  .carousel-caption p {
    font-size: 3em;
  }

  .carousel-caption .subtitle, .image-caption .subtitle {
    font-size: 1.5em;
  }
}


@media only screen and (max-width: $mobile-resolution) {
  #header .section {
    margin-top: 0;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .carousel-caption {
    top: 20%;
    left: auto;
    right: auto;
    width: 100%;
  }

  .carousel-caption p {
    font-size: 2em;
  }

  .carousel-caption .subtitle, .image-caption .subtitle {
    margin-top: -20px;
    font-size: 1em;
  }

  .d-none {
    display: block !important;
  }

  .image-caption { 
    top: 40%;

    p {
      font-size: 2em;
    }
  }
}