@import '../variables.scss';

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.animate-service {
    animation-duration: 0.75s;
    animation-fill-mode: backwards;
    visibility: visible;
}

.visibility {
    visibility: hidden;
}

.animate-service.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
}

@keyframes animate-glow {
    0% {
        opacity: 0;
        filter: brightness(3) saturate(3);
        transform: scale(0.8, 0.8);
    }

    100% {
        opacity: 1;
        filter: brightness(1) saturate(1);
        transform: scale(1, 1);
    }
}

.delay-1 {
    animation-delay: 0.2s;
}

.delay-2 {
    animation-delay: 0.3s;
}

.delay-3 {
    animation-delay: 0.4s;
}

.delay-4 {
    animation-delay: 0.2s;
}

.delay-5 {
    animation-delay: 0.3s;
}

.delay-6 {
    animation-delay: 0.4s;
}

@media only screen and (max-width: $mobile-resolution) {
    #services .row.mb-4 {
        margin-bottom: 0px !important;
    }

    .service {
        padding-bottom: 10%;
    }

    .delay-1, .delay-2, .delay-3, .delay-4, .delay-5, .delay-6 {
        animation-delay: 0.2s;
    }
}

h3 {
  font-size: 40px !important;
}

.ref {
  text-decoration: underline !important;
  cursor: pointer;
  color: var(--background-primary-2) !important;
}

.card-background {
  height: 600px;
  background: var(--background-primary);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 25px !important;
}

.card-content {
  padding: 60px 7% 60px 7%;

  p {
      margin-bottom: 0px;
  }
}

.mat-card-image {
  border: 3px solid #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgb(111 112 115 / 30%);
  box-shadow: 0px 4px 10px rgb(111 112 115 / 30%);
  overflow: hidden;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-title {
  font-size: 25px !important;
  color: var(--secondary);
  font-family: 'Parisienne', cursive;
  font-weight: bold;
}
