<app-section id="gallery">
  <img src="assets/images/divider.png" class="divider">
  <ng-container *ngIf="(asyncTabs | async) === null">
    Loading tabs...
  </ng-container>

  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="selectedTabChanged($event)">
    <mat-tab *ngFor="let tab of asyncTabs | async">
      <ng-template mat-tab-label>{{tab.label}}</ng-template>
      <swiper #swiper [config]="config" [virtual]="false">
        <ng-template *ngFor="let tile of tiles" swiperSlide>
          <img [src]="tile.src" (click)="openDialog(tile)">
        </ng-template>
      </swiper>
      <div class="swiper-button-next" (click)="swipeNext()"></div>
      <div class="swiper-button-prev" (click)="swipePrev()"></div>
    </mat-tab>
  </mat-tab-group>
</app-section>
