<app-section id="offering">
  <h2> {{ 'offering.title' | translate | uppercase }}</h2>

  <div class="row offering-container">
    <div class="offering-item">
      <div class="row">
        <img src="assets/images/offering/daikin.png" height="50"/>
      </div>
      <div class="row">
        <h3>{{ 'offering.daikin' | translate | uppercase }}</h3>
      </div>
      <div class="row">
        <button mat-flat-button class="button" (click)="openPage('daikin')">
          <span>{{'offering.more' | translate | uppercase}}</span>
        </button>
      </div>
    </div>
    <div class="offering-item">
      <div class="row">
        <img src="assets/images/offering/lg.png" height="50"/>
      </div>
      <div class="row">
        <h3>{{ 'offering.lg' | translate | uppercase }}</h3>
      </div>
      <div class="row">
        <button mat-flat-button class="button" (click)="openPage('lg')">
          <span>{{'offering.more' | translate | uppercase}}</span>
        </button>
      </div>
    </div>
    <div class="offering-item">
      <div class="row">
        <img src="assets/images/offering/midea.png" height="50"/>
      </div>
      <div class="row">
        <h3>{{ 'offering.midea' | translate | uppercase }}</h3>
      </div>
      <div class="row">
        <button mat-flat-button class="button" (click)="openPage('midea')">
          <span>{{'offering.more' | translate | uppercase}}</span>
        </button>
      </div>
    </div>
  </div>

</app-section>
