$background-primary: #f7f3f1;
$background-secondary: #ffffff;
$background-default: #ffffff;
$primary: #f6b6cc;
$secondary: #1b1726;
$text: #66646e;
$background-primary-1: #437ffa;
$background-primary-1-opacity: rgba(67, 127, 250, 0.2);
$secondary-opacity: $background-primary-1-opacity;
$background-primary-2: #bd3db9;
$mobile-resolution: 769px;
$tablet-resolution: 992px;

:root {
    --background-primary: #{$background-primary};
    --background-primary-1: #{$background-primary-1};
    --background-primary-1-opacity: #{$background-primary-1-opacity};
    --background-primary-2: #{$background-primary-2};
    --background-secondary: #{$background-secondary};
    --background-default: #{$background-default};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --secondary-opacity: #{$secondary-opacity};
    --text: #{$text};
}
